<%- include('head', { title: 'Contact Staff' }) -%>

<h1>Contact Staff</h1>
    <p>If you need to add a file, please contact the staff.</p>
    <p><a href="/restricted">Back to Restricted Area</a></p>

<%- include('foot') -%>